body {
	font-family:'Roboto', Helvetica, Arial, sans-serif;
	text-align: center;
	margin-top: 20px;	
	color: #222;
	background-color: #FEFEFE;
}


::selection {
	background-color: #222;
	color: white;
}

#sort {
	 margin-bottom: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background-color: #ea4335;
}

.nav-pills>li:hover>a {
	background-color: #ea4335;
	color: white;
}

#logo {
	text-align: center;
	font-size: 3.2em;
	width: 350px;
	height: 150px;
	border-radius: 42px;
	border: 5px solid #34a853;
	display: inline-block;
}

#logo:hover {
	color: white;
	text-decoration: none;
	background-color: #ea4335;
	border: 10px solid #34a853;
}

a {
	color: #2c3e50;
}

h1 {
	color: #ea4335;
}

h2 {
	color: #34a853;
}

h4 {
	color: #2c3e50;
}

a:hover {
	color: #ea4335;
}

.nav {
	margin-bottom: 5px;
}

#footer {
	padding-top: 10px;
}

#section-index {
	padding-top: 10px;
}

#arabic-section {
	color: #222;
	width: 200px;
	font-weight: bold;
	display: inline-block;
    border-radius: 42px;
}
 
 #arabic-section:hover {
 	background-color: #222;
	color: white;
}

#french-section {
	color: #222;
	width: 343px;
	font-weight: bold;
	display: inline-block;
    border-radius: 42px;
}

#french-section:hover {
	background-color: #222;
	color: white;
}

#index-nav:hover {
	color: white;
	background-color: #ea4335;
}